

<body>
    <header>
        <div class="nav"></div>
    </header>
    
    <section>
        <header class="tod-head">
            <div class="tod-date">
                <p>{{tdy | date:'EEEE, MMMM d'}}</p>
            </div>
            <div class="tod-head-button">
                <button class="tod-head-add-button" (click)="openDialog()">Add Todo</button>
            </div>
        </header>
        
        <div class="box-wrapper">

            <div class="boxes boxes1">
                <div class="box-head">
                    <p>Today</p>
                    <!-- <span class="material-icons plus" (click)="openDialog()">add</span> -->
                </div>
                <div class="box-body">
                    <div *ngFor="let item of today" class="box-body-text">
                        <div class="box-text-check">
                            <div class="box-check">
                                <span class="material-icons dn">done</span>
                            </div>
                            <p>{{item.content}}</p>
                        </div>

                        <div class="edit-del">
                            <span class="material-icons del">delete_outline</span>
                            <span class="material-icons upd">edit</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxes boxes2">
                <div class="box-head">
                    <p>This week</p>
                    <!-- <span class="material-icons plus">add</span> -->
                </div>
                <div class="box-body">
                    <div *ngFor="let item of week" class="box-body-text">
                        <div class="box-text-check">
                            <div class="box-check">
                                <span class="material-icons dn">done</span>
                            </div>
                            <p>{{item.content}}</p>
                        </div>

                        <div class="edit-del">
                            <span class="material-icons del">delete_outline</span>
                            <span class="material-icons upd">edit</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxes boxes3">
                <div class="box-head">
                    <p>This month</p>
                    <!-- <span class="material-icons plus">add</span> -->
                </div>
                <div class="box-body">
                    <div *ngFor="let item of month" class="box-body-text">
                        <div class="box-text-check">
                            <div class="box-check">
                                <span class="material-icons dn">done</span>
                            </div>
                            <p>{{item.content}}</p>
                        </div>

                        <div class="edit-del">
                            <span class="material-icons del">delete_outline</span>
                            <span class="material-icons upd">edit</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    
    <footer>
        
    </footer>

</body>


<ng-template #dialogRef let-mydata>
    <div class="dialogs">
        <form >
            <div class="dialog-wrap">
                <div class="dailog-text-input">
                    <p>What do you want to do?</p>
                    <textarea name="" id="" cols="40" rows="3" autosize ></textarea>
                </div>
                <div class="dailog-selection">
                    
                    <p>When do you want to do this?</p>
                    <section class="dialog-section">
                        <mat-button-toggle-group class="dialog-toggles"  name=when aria-label="Font Style">
                            <mat-button-toggle class="dialog-btn-toggle dialog-today" value="TD">Today</mat-button-toggle>
                            <mat-button-toggle class="dialog-btn-toggle dialog-week" value="TW">This Week</mat-button-toggle>
                            <mat-button-toggle class="dialog-btn-toggle dialog-month" value="TM">This Month</mat-button-toggle>
                        </mat-button-toggle-group>
                    </section>

                </div>

                <div class="dailog-buttons">
                    <button class="dialog-save-btn">Save Todo</button>
                    <button class="dialog-close-btn" (click)="closeDialog()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

