

<body>
    <header>
        <div class="nav"></div>
    </header>
    
    <section>
        <header class="tod-head">
            <div class="tod-date">
                <p>{{tdy | date:'EEEE, MMMM d'}}</p>
            </div>
            <div class="tod-head-button">
                <button class="tod-head-add-button">Add Todo</button>
            </div>
        </header>
        
        <div class="box-wrapper">

            <div class="boxes">
                <div class="box-head">
                    <p>Today</p>
                </div>
            </div>

            <div class="boxes">
                <div class="box-head">
                    <p>This week</p>
                </div>
            </div>

            <div class="boxes">
                <div class="box-head">
                    <p>This month</p>
                </div>
            </div>

        </div>

    </section>
    
    <footer>
        hiii
    </footer>
</body>