body{
    background-color: #111827;
    color: white;
    padding: 0 60px;
    font-family: 'Poppins', sans-serif;
}

textarea{
    resize: none;
    /* overflow: hidden; */
    /* outline: none; */
}

.nav{
    height:70px;
    background-color: #111827;
}

.tod-head{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tod-date p{
    font-size: 45px;
    font-weight: 700;
}

.tod-head-add-button{
    width: 150px;
    height: 55px;
    background-color: #047857;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.box-wrapper{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.boxes{
    width: 440px;
    height: 500px;
    background-color: #1f2937;
    border-radius: 20px;
    padding: 20px;

}

.box-head{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-head p{
    font-size: 22px;
    font-weight: 700;
}

.plus{
    color: #047857;
    font-size: 30px;
    cursor: pointer;
}

::ng-deep.cdk-global-overlay-wrapper{
    background-color: rgba(31, 41, 55, 0.749);
    /* background-color: rgba(41, 41, 71, 0.5); */
}

.dialogs {
    width: 100%;
    background-color: #111827;
}

::ng-deep.mat-dialog-container {
    padding: 45px !important;
    background-color: #111827;
    color: white;
    border-radius: 20px !important;
}

.dialog-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dailog-text-input, .dailog-selection{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.dailog-text-input p, .dailog-selection p{
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.dailog-text-input textarea{
    background-color: #111827;
    border-radius: 5px;
    border: 2px solid #4b5563;
    color: white;
    font-size: 22px;
    padding: 15px;
}

.mat-button-toggle-group{
    border: none;
}

.mat-button-toggle{
    background-color: #111827;
    color: white;
    width: 200px;
    height: 60px;
    border: 3px solid #4b5563;
    display: flex;
}

.dialog-week, .dialog-month{
    border-left: none !important;
}

.dialog-today{
    border-radius: 10px 0 0 10px;
}

.dialog-month{
    border-radius: 0 10px 10px 0;
}

.mat-button-toggle-checked{
    background-color: #047857;
    color: white;
}

.dailog-buttons{
    display: flex;
    gap: 5px;
}

.dialog-save-btn, .dialog-close-btn{
    width: 170px;
    height: 55px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.dialog-save-btn{
    border-radius: 10px;
    background-color: #047857;
}

.dialog-close-btn{
    background-color: #111827;
    width: 120px;
}