body{
    background-color: #111827;
    color: white;
    padding: 0 60px;
    font-family: 'Poppins', sans-serif;
}

textarea{
    resize: none;
    /* overflow: hidden; */
    /* outline: none; */
}

.nav{
    height:70px;
    background-color: #111827;
}

.tod-head{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tod-date p{
    font-size: 45px;
    font-weight: 700;
}

.tod-head-add-button{
    width: 150px;
    height: 55px;
    background-color: #047857;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.box-wrapper{
    /* height: auto; */
    min-height: 600px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "boxes1 boxes2 boxes3";
    grid-gap: 30px;
    padding: 30px 0;
}

.boxes1{
    grid-area: boxes1;
}

.boxes2{
    grid-area: boxes2;
}

.boxes3{
    grid-area: boxes3;
}


.boxes{
    background-color: #1f2937;
    border-radius: 20px;
    padding: 20px;
}


.box-head{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-head p{
    font-size: 22px;
    font-weight: 700;
}

.plus{
    color: #047857;
    font-size: 30px;
    cursor: pointer;
}

::ng-deep.cdk-global-overlay-wrapper{
    background-color: rgba(31, 41, 55, 0.749);
    /* background-color: rgba(41, 41, 71, 0.5); */
}

.dialogs {
    width: 100%;
    background-color: #111827;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

::ng-deep.mat-dialog-container {
    padding: 45px !important;
    background-color: #111827;
    color: white;
    border-radius: 20px !important;
}

.dialog-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dailog-text-input, .dailog-selection{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.dailog-text-input p, .dailog-selection p{
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.dailog-text-input textarea{
    background-color: #111827;
    border-radius: 5px;
    border: 2px solid #4b5563;
    color: white;
    font-size: 22px;
    padding: 15px;
}

.mat-button-toggle-group{
    border: none;
}

.mat-button-toggle{
    background-color: #111827;
    color: white;
    width: 200px;
    height: 60px;
    border: 3px solid #4b5563;
    display: flex;
}

.dialog-week, .dialog-month{
    border-left: none !important;
}

.dialog-today{
    border-radius: 10px 0 0 10px;
}

.dialog-month{
    border-radius: 0 10px 10px 0;
}

.mat-button-toggle-checked{
    background-color: #047857;
    color: white;
}

.dailog-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-save-btn, .dialog-close-btn{
    
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.dialog-save-btn{
    width: 170px;
    height: 55px;
    border-radius: 10px;
    background-color: #047857;
}

.dialog-close-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-close-btn{
    background-color: #111827;
    /* width: 100px; */
}

.box-body{
    padding-top: 20px;
    display: grid;
    grid-gap: 20px;
}

.box-body-text{
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: "box-text-check edit-del";
    background-color: #111827;
    border-radius: 8px;
    padding: 20px 10px 20px 20px;
    grid-gap: 5px;
}

.box-text-check{
    grid-area: box-text-check;
    display: flex;
    gap: 10px;
}

.edit-del{
    grid-area: edit-del;
}


.box-text-check{
    display: flex;
}

.box-text-check p{
    line-break: anywhere;
    white-space: pre-line;
    font-size: 18px;
}

.edit-del{
    display: flex;
}

.dn{
    background-color: #111827;
    color: #111827;
    border: 1px solid #4b5563;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
}

.box-check, .edit-del{
    padding-top: 2px;
}

.upd, .del{
    cursor: pointer;
    opacity: 10%;
}

.upd:hover, .del:hover{
    opacity: 100%;
}

.no-todo{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #9ca3af;
    gap: 10px;
}

/* .no-todo-btn{
    max-width: 100px;
    padding: 6px 8px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #4b5563;
    border: none;
    color: white;
    cursor: pointer;
} */


.wrap{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.del-text p{
    letter-spacing: 1px;
}

.del-dailog-buttons{
    display: flex;
}

.del-btn, .del-cancel-btn{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.del-btn{
    background-color: #047857;
}

.del-cancel-btn{
    background-color: #111827;
}

.box-body-text-checked{
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: "box-text-check edit-del";
    border-radius: 8px;
    padding: 20px 10px 20px 20px;
    grid-gap: 5px;
    background-color: #161e2d;
}

.box-text-check del{
    color: #6b7280;
    line-break: anywhere;
    white-space: pre-line;
    font-size: 18px;
}

.dn-checked{
    /* border: 1px solid #4b5563; */
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    color: #047857;
    background-color: #10b981;
}